
.footer {
    background: #E8E8E8;
    color: #000;
}

.footer-inner   {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    padding: 80px 8%;
}

.footer-brand   {
    display: flex;
    align-items: center;
}
.footer-brand   img{
    max-width: 300px;
    height: auto;
}

.footer h3, 
.footer h4{
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

.footer p,
.footer a,   
.footer li{
    font-size: 18px;
    color: #000;
    line-height: 1.6;
}

.footer a{
    text-decoration: none;
}

.footer a:hover {
    color: #94311B;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}


.footer-workingHours ul {
    list-style: none;
    padding: 0;
}

.footer-workingHours li {
    margin-bottom: 10px;
}

.footer-contact p {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-contact i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}



.footer-contact a:hover {
    color: #94311B;
}

.footer-bottom {
    border-top: 1px solid #222;
    padding: 20px 8%;
    text-align: center;
    font-size: 13px;
    color: #777;
}

@media (max-width: 600px) {
    .footer-inner {
        flex-direction: column;
        gap: 40px;
    }
}